<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="./Public/admin/css/ch-ui.admin.css">
	<link rel="stylesheet" href="./Public/admin/font/css/font-awesome.min.css">
</head>
<body style="background:#F3F3F4;">
	<div class="login_box">
		<h1 id="blog">Blog</h1>
		<h2>欢迎使用博客管理平台</h2>
		<div class="form">
			<form action="./index.php?p=admin&c=login&a=login" method="post">
				<ul>
					<li>
					<input type="text" name="username" class="text"/>
						<span><i class="fa fa-user"></i></span>
					</li>
					<li>
						<input type="password" name="password" class="text"/>
						<span><i class="fa fa-lock"></i></span>
					</li>
					<li>
						<input type="text" class="code" name="captcha"/>
						<span><i class="fa fa-check-square-o"></i></span>
						<img id='img'src="index.php?p=admin&c=login&a=captcha&t=" alt="验证码加载错误" title="看不清楚,点击换一张" onclick="this.src+=Math.random()">
						<a href="javascript:;" onclick="document.getElementById('img').src+=Math.random()">看不清楚,点击换一张</a>
					</li>
					<li>
						<input type="submit" value="立即登录"/>
					</li>
				</ul>
			</form>
			<p><a href="./index.php?p=admin&c=register&a=register" >用户注册</a></p>
			<p>
				&copy; 2016 Powered by itcast<br />

			</p>
		</div>
	</div>
	<script>
		var content=document.getElementById('blog');
		window.onload=function(){
			setInterval(function(){
				var red=num();
				var green=num();
				var blue=num();
				content.style.color='rgb('+red+','+green+','+blue+')';
			},200);
		}
		function num(){
			return Math.floor(Math.random()*255);
		}
	</script>
</body>
</html>